#budgie{
    padding:40px 0px;
    
}
#budgie .kgyjk img{
    width:100%;
}
.about-text h4{
    font-weight: 400;
    font-size: 18px;
}
.about-text h2{
    font-size: 54px;
     font-weight: 600;
}
.about-text p{
    color:#000 !important;
    font-size: 16px;
    font-weight: 400;
    padding-right:160px;
   
}