#featur{
    background: #F4F6FC;
    ;
}
.number1{
    text-align: center;
    font-size: 16px;
}
.number2{
  
    font-size: 45px;
    text-align: center;
}

.feature{
    background:#FFF !important;
    padding:0px 0px 10px 10px;
    margin:10px 0px;
}

.feature-icon{
    color:rgb(62, 62, 202) !important;
    font-size: 20px;
    margin-bottom: 10px;
} 
.feature p{
    font-size: 14px;
    color:black !important;
}
.feat{
    display: flex;
    justify-content: center;
}


*******************RESPONSIVE PART***********************


@media (max-width:767px){
   
.feat .number2{
    font-size:30px !important;
}
}
     

@media (min-width: 768px)and (max-width:991px) {
     }

@media(min-width:992px)and (max-width:1199px){
    
}
@media(min-width:1200px)and (max-width:1399px){
    
}
@media(min-width:1400px){
    
}