.tharma{
    padding:50px 0px;
}
.spikey button{
    border:none !important;
    background-color: transparent;
}
.btn2 a{
    padding:16px 41px;
    background: #FCD980;
    color:#000;
    border-radius:41px ;
    border-color: transparent;
}
#together.btn2 {
    border: none !important;
}
.moyemore{
    color:black !important;
}